{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projects - Gowtham's Portfolio</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <header>
    <nav>
      <div class="left">Gowtham's Portfolio</div>
      <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'skillset' %}">Services</a></li>
        <li><a href="{% url 'projects' %}">Projects</a></li>
        <li><a href="{% url 'contact' %}">Contact Me</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="firstSection">
      <div class="leftSection">
        <h1>My Projects</h1>
        <ul>
          <li>
            <strong>Enhancing Parkinson’s Disease Detection:</strong> <br> 
            Developed an ML model using genetic algorithms for feature selection, achieving improved detection rates.  
            <em>Published results in the International Research Journal of Engineering and Technology (IRJET).</em>
          </li>
          <li>
            <strong>Smart Attendance System:</strong>  <br>
            Created an automated face recognition system using Python and OpenCV, reducing manual effort by 80%.  
            Integrated attendance logging directly into spreadsheets for efficiency.
          </li>
          <li>
            <strong>IoT-Based Moisture Control System:</strong> <br> 
            Designed a smart irrigation system using IoT and sensors, reducing water wastage by 30%.  
            Implemented cloud-based monitoring for scalability and reliability.
          </li>
          <li>
            <strong>Personal Portfolio Website: </strong> <br>
            - Developed a dynamic and responsive portfolio website using "Python" and "Django".
            <br>  
            - Showcases "skills", "projects", and professional experience in a user-friendly interface.  
            <br>
            - Built with "HTML", "CSS", and "Bootstrap" for a clean and mobile-friendly design.  
            <br>
            - Features an "interactive projects gallery" and a "contact form" for easy communication.   
            <br>
            - Managed with "Git" and deployed on "GitHub Pages".  
            <br>
            - Highlights expertise in "Web development", "Software development", "Machine learning development" and "Data science".  
            <br>
            - Demonstrates the ability to create "scalable" and "modern web applications".  
          </li>
        </ul>
      </div>
      <div class="rightSection">
        <img src="{% static 'images/img5.png' %}" alt="Projects">
      </div>
    </section>
  </main>
  <footer>
    <div class="footer-content">
      <div>Gowtham's Developer Portfolio</div>
    </div>
    <div>&copy; 2024 Gowtham'sPortfolio.com | All rights reserved</div>
  </footer>
</body>
</html>
